<div class="container bg-light-subtle">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui nostrum consectetur alias itaque illo obcaecati doloremque saepe quasi mollitia unde eius a corporis, quos doloribus. Sequi voluptates expedita quidem non!</p>
    <div class="form float-center">
        <div class="mb-3 float center">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="float-end">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
          </div>
    </div>
    </div>
</div>