<!-- your html code here -->
<div class="container bg-white">
    <div class="row">

        <div class="col-8 p-3 ">
            <h5>The First Heading Will Catch Your Eye</h5>
            <p style="font-size: 12px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolorum laudantium nobis dolor
                eveniet deserunt ducimus fugiat ex quo tempora?</p>
        </div>
        <div class="col-4 p-3">
            <img src="https://images.pexels.com/photos/2380794/pexels-photo-2380794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                class="rounded-circle" alt="Imagen circular" width="200" height="200">
        </div>
    </div>
</div>