<!-- your html code here -->

<div class="container bg-white">
    <h3>Portfolio</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita vitae repudiandae fugiat voluptatem
        consequuntur id doloribus quo quidem blanditiis recusandae?</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-3">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum, quaerat
                        quas tempore in suscipit.</p>
                </div>
            </div>
        </div>
    </div>