<div class="col">
  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://assets3.thrillist.com/v1/image/3188668/2880x1620/crop;webp=auto;jpeg_quality=60;progressive.jpg'); background-position: center">
    <div class="h-100 text-dark text-center text-shadow-1">
      <p class="pb-3 mt-5 display-1 fw-bold bg-white">One page wonder</p>
      <p class="pb-2 mt-5 mb-5 display-5 bg-white">Will knock your socks</p>
    </div>
  </div>
</div>
  